//
// NEO-DATE-PICKER - DATE PICKER DESIGN
//

// Color variables
$text-color: #354052;
$accent-color: #0074d9;
$border-color: #e6e6e6;
$background-color: #ffffff;
$second-text-color: #cccccc;

// DatePicker: picker design
.neodatepicker-picker {
   display: grid;
   width: 280px;
   position: absolute;
   border-radius: 5px;
   background: $background-color;
   margin: 0 !important;
   outline: 0 !important;
   border: 1px solid $border-color;
   grid-template-rows: repeat(4, max-content);

// Input wrapper
&__input-wrapper {
   width: 100%;
   height: 31px;
   border-bottom: 1px solid $border-color; }

// Input field
&__input {
   width: 100%;
   height: 100%;
   border: none;
   min-width: 0px;
   color: $text-color;
   font-size: 15px;
   padding: 0px 10px;
	border-radius: 5px;
   margin: 0 !important;
   outline: 0 !important;
   font-variant: tabular-nums;
   font-feature-settings: "tnum";
&::-webkit-input-placeholder {
   color: $second-text-color; } }

// Header
&__header {
   display: grid;
   width: 100%;
   color: $text-color;
   font-size: 14px;
   font-weight: 600;
   padding: 0.5em 0;
   align-items: center;
   border-bottom: 1px solid $border-color;
   grid-template-columns: max-content 1fr max-content; }

// Header previous & header next
&__header-prev, &__header-next {
   display: grid;
   align-items: center;
   justify-items: center;
svg {
   width: 20px;
   height: 20px;
   fill: $text-color;
   vertical-align: middle;
   transition: all .3s ease-out;
&:hover {
   transform: scale(1.25);
   fill: $accent-color;
   cursor: pointer; } } }

// Header month
&__header-month {
   width: 100%;
   text-align: center; }

// Body
&__body {
   display: grid;
   padding: 10px;
   grid-gap: 5px;
   grid-template-columns: repeat(7, 1fr); }

// Body day
&__body-day {
   display: grid;
   width: 100%;
   height: 32.56px;
   color: $text-color;
   line-height: 1;
   font-size: 15px;
   font-weight: 400;
   overflow: hidden;
   text-align: center;
   align-content: center;
   justify-content: center;
   background: transparent; }

// Body item
&__body-item {
   display: grid;
   width: 100%;
   height: 32.56px;
   color: $text-color;
   line-height: 1;
   font-size: 15px;
   font-weight: 400;
   overflow: hidden;
   text-align: center;
   border-radius: 50%;
   background: $background-color;
   align-content: center;
   justify-content: center;
   border: 2px solid $background-color;
&:hover {
   cursor: pointer !important;
   border: 2px solid $accent-color !important; }
&.neodatepicker {
&--today {
   color: $accent-color; }
&--selected {
   color: $background-color !important;
   background: $accent-color !important;
   border: 2px solid $accent-color !important; }
&--disabled {
   color: $second-text-color;
   background: transparent;
   pointer-events: none !important; } } } }
