//
// NEO-DATE-PICKER - DATE PICKER DESIGN
//

// DatePicker: picker design
.neodatepicker-picker {
   display: grid;
   width: 280px;
   position: absolute;
   border-radius: 5px;
   background: #ffffff;
   margin: 0 !important;
   outline: 0 !important;
   border: 1px solid #ffffff;
   box-shadow: 0 2px 8px #d8d8d8;
   grid-template-rows: repeat(4, max-content);

// Input wrapper
&__input-wrapper {
   width: 100%;
   height: 31px;
   border-bottom: 1px solid #eeeeee; }

// Input field
&__input {
   width: 100%;
   height: 100%;
   border: none;
   min-width: 0px;
   color: #354052;
   font-size: 15px;
   padding: 0px 10px;
   margin: 0 !important;
   outline: 0 !important;
   font-variant: tabular-nums;
   font-feature-settings: "tnum";
&::-webkit-input-placeholder {
   color: #bbbbbb; } }

// Header
&__header {
   display: grid;
   width: 100%;
   color: #354052;
   font-size: 14px;
   font-weight: 600;
   padding: 0.5em 0;
   align-items: center;
   border-bottom: 1px solid #eeeeee;
   grid-template-columns: max-content 1fr max-content; }

// Header previous & header next
&__header-prev, &__header-next {
   display: grid;
   align-items: center;
   justify-items: center;
svg {
   width: 20px;
   height: 20px;
   fill: #354052;
   vertical-align: middle;
   transition: all .3s ease-out;
&:hover {
   transform: scale(1.25);
   fill: #0074d9;
   cursor: pointer; } } }

// Header month
&__header-month {
   width: 100%;
   text-align: center; }

// Body
&__body {
   display: grid;
   padding: 10px;
   grid-gap: 5px;
   grid-template-columns: repeat(7, 1fr); }

// Body day
&__body-day {
   display: grid;
   width: 100%;
   height: 32.56px;
   color: #354052;
   line-height: 1;
   font-size: 15px;
   font-weight: 400;
   overflow: hidden;
   text-align: center;
   border-radius: 50%;
   background: #ffffff;
   align-content: center;
   // transition: border .2s;
   justify-content: center;
   border: 2px solid #ffffff;
   font-feature-settings: 'tnum';
   font-variant-numeric: tabular-nums;
&:hover {
   cursor: pointer !important;
   border: 2px solid #ff6f6a !important; }
&.neodatepicker {
&--today {
   color: #ff6f6a; }
&--selected {
   color: #ffffff !important;
   background: #ff6f6a !important;
   border: 2px solid #ff6f6a !important; }
&--disabled {
   color: #cccccc;
   background: transparent;
   pointer-events: none !important; }
&--daylist {
   pointer-events: none !important;
   background: transparent !important; } } } }
