//
// DATEPICKER DESIGN
//


// Import 'Open Sans' font family
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);


// Apply styles to all DatePicker children
.date-picker * {
   margin: 0;
   outline: 0;
   padding: 0;
   user-select: none;
   box-sizing: border-box;
   font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }


// DatePicker: input field
.date-picker-input {
   display: grid;
   width: 170px;
   height: 30px;
   border-radius: 5px;
   transition: all .3s;
   align-items: center;
   margin: 0 !important;
   outline: 0 !important;
   background: #ffffff;
   border: 1px solid #dddddd;
   grid-template-columns: 1fr max-content max-content;

// Input field
&__field {
   display: grid;
   height: 100%;
   border: none;
   min-width: 0px;
   color: #354052;
   font-size: 15px;
   padding: 0px 10px;
   margin: 0 !important;
   outline: 0 !important;
   align-content: center;
   font-variant: tabular-nums;
   font-feature-settings: "tnum";
&::-webkit-input-placeholder {
   color: #bbbbbb; } }

// Calendar icon
&__calendar-icon {
   display: grid;
   opacity: 1;
   padding: 1px;
   fill: #dddddd;
   margin: 0 5px;
   align-items: center;
   transition: opacity 0.4s;
svg {
   width: 20px;
   height: 20px; } }

// Close icon
&__close-icon {
   display: grid;
   height: 100%;
   opacity: 0;
   padding: 0;
   fill: #ffffff;
   border-radius: 50%;
   align-items: center;
   background: #dddddd;
   border: 0 solid #ffffff;
   transition: opacity 0.4s, background-color 0.4s;
svg {
   width: 0;
   height: 0; }
&:hover {
   cursor: pointer;
   background: #bbbbbb; } }

// Switch between calendar and close icons
&--selected:hover &__calendar-icon {
   margin: 0;
   padding: 0;
   opacity: 0;
svg {
   width: 0;
   height: 0; } }
&--selected:hover &__close-icon {
   opacity: 1;
   padding: 2px;
   border-width: 5px 7px;
svg {
   width: 14px;
   height: 14px; } }

// Hovered and active styles
&:hover {
   border-color: #0074d9;
   cursor: text !important; }
&:active {
   box-shadow: 0px 0px 3px #0074d9; } }


// DatePicker: picker design
.date-picker-container {
   display: grid;
   width: 280px;
   border-radius: 5px;
   background: #ffffff;
   margin: 0 !important;
   outline: 0 !important;
   border: 1px solid #ffffff;
   box-shadow: 0 2px 8px #d8d8d8;
   grid-template-rows: repeat(4, max-content);

&__input-wrapper {
   width: 100%;
   padding: 7px 10px;
   border-bottom: 1px solid #eeeeee; }

&__input {
   width: 100%;
   border: none;
   color: #bbbbbb;
   font-size: 14px;
   user-select: none;
   margin: 0 !important;
   padding: 0 !important;
   outline: 0 !important;
   font-variant: tabular-nums;
   font-feature-settings: "tnum";
&::-webkit-input-placeholder {
   color: #bbbbbb; } }

&__header {
   display: grid;
   width: 100%;
   color: #354052;
   font-size: 14px;
   font-weight: 600;
   padding: 0.5em 0;
   align-items: center;
   border-bottom: 1px solid #eeeeee;
   grid-template-columns: max-content 1fr max-content; }

&__header-prev, &__header-next {
   display: grid;
   align-items: center;
   justify-items: center;
svg {
   width: 20px;
   height: 20px;
   fill: #354052;
   vertical-align: middle;
   transition: all .3s ease-out;
&:hover {
   transform: scale(1.25);
   fill: #0074d9;
   cursor: pointer; } } }

&__header-month {
   width: 100%;
   text-align: center; }

&__body {
   display: grid;
   padding: 10px;
   grid-gap: 5px;
   grid-template-columns: repeat(7, 1fr); }

&__body-day {
   display: grid;
   width: 100%;
   height: 32.56px;
   color: #354052;
   line-height: 1;
   font-size: 15px;
   font-weight: 400;
   overflow: hidden;
   text-align: center;
   border-radius: 50%;
   background: #ffffff;
   align-content: center;
   // transition: border .2s;
   justify-content: center;
   border: 2px solid #ffffff;
   font-feature-settings: 'tnum';
   font-variant-numeric: tabular-nums;
&:hover {
   cursor: pointer !important;
   border: 2px solid #ff6f6a !important; }
&.date-picker {
&--today {
   color: #ff6f6a; }
&--selected {
   color: #ffffff !important;
   background: #ff6f6a !important;
   border: 2px solid #ff6f6a !important; }
&--disabled {
   color: #cccccc !important;
   pointer-events: none !important;
   background: transparent !important; }
&--daylist {
   pointer-events: none !important;
   background: transparent !important; } } }


}
