/* ----------==================---------- */
/*                                        */
/* React Test Bench - Design (SCSS), 2018 */
/*                                        */
/* ----------==================---------- */


/* Colors */

@function color($color-name) {
   @return map-get($colors, $color-name)
}

$colors: (
   blue: #6DB5FD,
   teal: #67F6E7,
   mid-blue: #54D3FD,
   light-green: #93FCD1,
   light-blue: #9DF8FE,
   center: #42E3E6,
   green: #4AD6D0
);


/* Responsive design */

@mixin desktop {
   @media (min-width: 768px) {
      @content;
   }
}


/* Font imports */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);


/* HTML elements */

* {
   outline: 0px !important;
   box-sizing: border-box;
   user-select: none !important;
   margin: 0px;
   padding: 0px; }
html, body {
   font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
   font-size: 1em;
   font-weight: 300;
   line-height: 1.5;
   max-width: 100%;
   height: 100%;
   width: 100%;
   overflow-x: hidden; }
a, a:hover {
   text-decoration: none; }
p {
   font-size: 14px;
   width: 100%; }
hr {
   border: 0;
   border-top: 1px solid #dddddd;
   margin: 10px 0; }
textarea {
   font-family: inherit;
   resize: none;
   color: #666666;
   padding: 5px;
   font-size: 16px;
   font-weight: 500;
   border-radius: 5px;
   background: transparent;
   border: 1px solid #d9dadc;
   user-select: auto !important; }
::-webkit-scrollbar {
   display: none; }


/* Root */

#root {
   height: 100%;
   width: 100%; }


/* ---------- CALENDAR TEST ---------- */


#calendar-test {
   width: 100%;
   hieght: 100%;
   padding: 20px; }


/* ---------- INPUT, ICON AND MESSAGE DESIGNS ---------- */


/* Icon design */

.icon {
  font-family: "Material Icons", serif;
  font-style: normal;
  direction: ltr;
  line-height: 1;
  word-wrap: normal;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  text-transform: none;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga"; }


/* Text input design */

input[type=text],
input[type=password],
input[type=datetime-local] {
   background-color: #f1f1f1;
   border: 1px solid #d9dadc;
   padding: 1em 10px 1em 10px;
   border-radius: 5px;
   user-select: auto;
   width: 100%;
   text-align: left;
   color: #666666;
   font-weight: 500;
   margin-top: 1.5em;
   font-size: 16px; }
input[type=text]:focus,
input[type=password]:focus,
input[type=datetime-local]:focus {
   border: 1px solid #afb1b6; }


/* Button design */

button, input[type=submit] {
   color: #ffffff;
   background: #6bb8fe;
   border: 1px solid #63b1fa;
   border-radius: 5px;
   text-align: center;
   text-decoration: none;
   font-size: 18px;
   display: inline-block;
   transition: all 0.3s ease;
   min-width: 100px;
   padding: 8px 1em;
   line-height: 1em;
   overflow: hidden;
   cursor: pointer;
   white-space: nowrap; }
button:disabled, input[type=submit]:disabled {
   opacity: 0.5; }
button:disabled:hover, input[type=submit]:disabled:hover {
   box-shadow: none; }
button:hover, input[type=submit]:hover {
   color: #f8f8f8;
   background: #62acf1; }


/* Select design */

select {
   height: 36px;
   padding: 5px;
   border-radius: 5px; }


/* Radio button */

input[type=radio] {
   margin: 5px 0; }


/* Input type number */

input[type=number] {
   margin-top: 0;
   border-radius: 5px;
   letter-spacing: 1px;
   font-weight: bold;
   font-size: 16px;
   padding: 5px 2px 5px 10px;
   border: 1px solid #d9dadc; }


/* Checkbox design */

input[type=checkbox] {
   background-color: #9df8fe;
   border-radius: 30px; }

.check {
   display: block;
   position: relative;
   margin-bottom: 5px;
   cursor: pointer;
   font-weight: 400;
   color: #000000;
   font-size: 16px;
   padding-left: 2.5em;
   line-height: 25px;
   letter-spacing: 1.5px;
input {
   position: absolute;
   opacity: 0;
   cursor: pointer; }
.checkmark {
   position: absolute;
   top: 0;
   left: 0;
   background-color: #f1f1f1;
   height: 25px;
   width: 25px;
   border-radius: 7px;
   border: 0.5px solid ; }
.check:hover input~.checkmark {
   border: 0.5px solid #b4b4b4; }
input:checked~.checkmark {
   background-color: color(light-blue); }
.checkmark:after {
   content: "";
   position: absolute;
   display: none; }
input:checked~.checkmark:after {
   display: block; }
.checkmark:after {
   border: solid white;
   border-width: 0 3px 3px 0;
   transform: rotate(45deg); }
.checkmark:after {
   left: 8px;
   top: 5px;
   width: 5px;
   height: 10px; } }


.toggle {
   display: grid;
   grid-gap: 10px;
   position: relative;
   width: 100%;
   height: 20px;
   cursor: pointer;
   -webkit-tap-highlight-color: transparent;
   transform: translate3d(0,0,0);
   grid-template-columns: 40px 1fr;
&:before {
   content: "";
   position: relative;
   top: 3px;
   left: 3px;
   width: 34px;
   height: 14px;
   display: block;
   background: #9a9999;
   border-radius: 8px;
   transition: background-color .2s ease; }
span {
   position: absolute;
   top: 0;
   left: 0;
   width: 20px;
   height: 20px;
   display: block;
   background: white;
   border-radius: 10px;
   box-shadow: 0 3px 8px rgba(#9a9999, .5);
   transition: all .2s ease;
&:before {
   content: "";
   position: absolute;
   display: block;
   margin: -17px;
   width: 56px;
   height: 56px;
   background: rgba(#6DB5FD, .5);
   border-radius: 50%;
   transform: scale(0);
   opacity: 1;
   pointer-events: none; } } }
.checkbox {
   display: none; }
.checkbox:checked + .toggle {
&:before {
   background: #7dccfa; }
span {
   background: #6DB5FD;
   transform: translateX(25px);
   transition: all .2s cubic-bezier(.8, .4, .3, 1.25), background-color .15s ease;
   box-shadow: 0 3px 8px rgba(#6DB5FD, .2);
&:before {
   transform: scale(1);
   opacity: 0;
   transition: all 0.4s ease; } } }


/* Error and success messages */

.error {
   color: #eb1e32;
   text-align: left;
   font-style: italic;
   display: block;
   letter-spacing: 1px;
   font-size: 16px; }
.success {
   color: #1ed760;
   text-align: left;
   font-style: italic;
   display: block;
   letter-spacing: 1px;
   font-size: 16px; }
.errorbox, .successbox {
   display: grid;
   align-items: center;
   justify-items: center;
   opacity: 0.5;
   letter-spacing: 1.5px;
   height: 25px;
   border-radius: 5px;
   font-weight: 400; }
.errorbox {
   color: #750a15;
   border: 0.5px solid #eb1e32;
   background-color: #fbd0d4; }
.successbox {
   color: #0f7031;
   border: 0.5px solid #1ed760;
   background-color: #d2f9e0; }
